body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
    text-align: center;
    padding: 20px;
}

#loading {
    display: none;
}

#qr-container {
    display: none;
}

#qr-code {
    width: 256px;
    margin: 0 auto;
}

#messages {
    text-align: left;
    max-width: 600px;
    margin: 0 auto;
    padding: 10px;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 4px;
    overflow-y: auto;
    max-height: 400px;
}

.message {
    padding: 10px;
    border-bottom: 1px solid #eee;
}

.loader {
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid rgb(12, 207, 12);
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
    margin: 0 auto;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
